@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

h1 {
  font-family: "Fleur De Leah", cursive;
}

* {
  font-family: "Quattrocento", serif;
}

.arrow {
  pointer-events: none;
}

.arrow__path {
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 0.5 8;
  stroke-width: 1.5;
  stroke-linecap: round;
}
